/* Coolors Exported Palette - https://coolors.co/1fff39-56aab3-f2effb-ebadff-1e1014 */

/* CSS HEX */
--erin: #1fff39ff;
--moonstone: #56aab3ff;
--magnolia: #f2effbff;
--mauve: #ebadffff;
--licorice: #1e1014ff;

/* CSS HSL */
--erin: hsla(127, 100%, 56%, 1);
--moonstone: hsla(186, 38%, 52%, 1);
--magnolia: hsla(255, 60%, 96%, 1);
--mauve: hsla(285, 100%, 84%, 1);
--licorice: hsla(343, 30%, 9%, 1);

/* SCSS HEX */
$erin: #1fff39ff;
$moonstone: #56aab3ff;
$magnolia: #f2effbff;
$mauve: #ebadffff;
$licorice: #1e1014ff;

/* SCSS HSL */
$erin: hsla(127, 100%, 56%, 1);
$moonstone: hsla(186, 38%, 52%, 1);
$magnolia: hsla(255, 60%, 96%, 1);
$mauve: hsla(285, 100%, 84%, 1);
$licorice: hsla(343, 30%, 9%, 1);

/* SCSS RGB */
$erin: rgba(31, 255, 57, 1);
$moonstone: rgba(86, 170, 179, 1);
$magnolia: rgba(242, 239, 251, 1);
$mauve: rgba(235, 173, 255, 1);
$licorice: rgba(30, 16, 20, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1fff39ff, #56aab3ff, #f2effbff, #ebadffff, #1e1014ff);
$gradient-right: linear-gradient(90deg, #1fff39ff, #56aab3ff, #f2effbff, #ebadffff, #1e1014ff);
$gradient-bottom: linear-gradient(180deg, #1fff39ff, #56aab3ff, #f2effbff, #ebadffff, #1e1014ff);
$gradient-left: linear-gradient(270deg, #1fff39ff, #56aab3ff, #f2effbff, #ebadffff, #1e1014ff);
$gradient-top-right: linear-gradient(45deg, #1fff39ff, #56aab3ff, #f2effbff, #ebadffff, #1e1014ff);
$gradient-bottom-right: linear-gradient(135deg, #1fff39ff, #56aab3ff, #f2effbff, #ebadffff, #1e1014ff);
$gradient-top-left: linear-gradient(225deg, #1fff39ff, #56aab3ff, #f2effbff, #ebadffff, #1e1014ff);
$gradient-bottom-left: linear-gradient(315deg, #1fff39ff, #56aab3ff, #f2effbff, #ebadffff, #1e1014ff);
$gradient-radial: radial-gradient(#1fff39ff, #56aab3ff, #f2effbff, #ebadffff, #1e1014ff);